/*  
	样式模块化
    @规则
        @chartset  设置样式表的编码
		@import    导入其它样式文件
		@media	   媒体查询，查询所使用的设备，在适配过程中非常有用
		@font-face 自定义字体 还能实现图标字体化，使小图标像文字一样便于设置
*/
@import 'reset.css';
@font-face {
	font-family: 'iconfont';
	src: url('../font/iconfont.ttf') format('truetype');
  }
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased; /*抗锯齿*/
	-moz-osx-font-smoothing: grayscale;
}


/* 头部信息 */
#head{
	width: 100%;
	height: 36px;
	background-color: #fff;
}
#headMessage li{
	float: left;
	line-height: 35px;
	padding: 0 6px;
	font-size: 0px;
}
#headMessage a{
	font-size: 12px;
	color: #6c6c6c;
}
#headMessage a.login{
	color: #F22E00;
}
#headMessage span{
	font-size: 12px;
}
#headMessage span.arrow{
	margin-left: 7px;
	color: #9C9C9C;
}
.mr7{
	margin-right: 7px;
}
.mr5{
	margin-right: 5px;
}
#headMessage li strong{
	font-size: 12px;
	color: #F22E00;
}
#headMessage li span.store{
	font-size: 12px;
	color: #9c9c9c;
}
#headMessage a:hover{
	color: #f40;
}
#headMessage li.line{
	font-size: 12px;
	color: #DDDDDD;
}

/* 头部搜索 */
#headSearch{
	padding: 24px 0 10px;
}
#headSearch h1 a{
	display: block;
	width: 142px;
	margin-left: 22px;
	height: 58px;
	background: url(../images/logo.png) center no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	margin-top: 4px;
}
#headSearch .code{
	position: relative;
	text-align: center;
	width: 74px;
	height: 88px;
	border: 1px solid #eee;
	background-color: #FFFFFF;
	cursor: pointer;
	margin-right: 110px;
}
#headSearch .code img{
	width: 62px;
}

#headSearch #search{
	width: 630px;
	margin: 0 auto;

}
#headSearch #search .hotKey{
	padding: 5px 41px 0 0;
}
#headSearch .searchContent{
	height: 40px;
}
#headSearch .searchBox{
	width: 630px;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid #ff5000;
	border-width: none;
	border-radius: 20px 20px 20px 20px;
	overflow: hidden;
	position: relative;
}
#headSearch .searchBox .searchTab{
    /* border: 2px solid #fff; */
    background-color: #fff;
    height: 40px;
	width: 72px;
	position: relative;

}
#headSearch .searchBox .searchTab .good{
	position: absolute;
	top:8px;
	right: 32px;

}
#headSearch .searchBox .searchTab .arrow{
	position: absolute;
	top:6px;
	right: 14px;
}
#headSearch .searchBar{
	position: relative;
}
#headSearch .searchBar .placeholder{
	top: 6px;
	position: absolute;
}
#headSearch .searchBar .camera{
	position: absolute;
	font-size: 22px;
	top: 4px;
	right: 20px;
}

#headSearch .searchBox input{
	border: 0;
	padding: 0;
	width: 490px;
	height: 40px;
	line-height: 40px;
	outline: none;
	border: none;
}
#headSearch .searchBox button{
	border: 0;
	padding: 0;
	width: 66px;
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	color: #fff;
	background-image: linear-gradient(to right,#ff9000,#ff5000);
}
#nav{
	height: 1800px;
	background-color: #fff;
	border-radius: 20px 20px 20px 20px;
}
#nav .firstLine{
	width: 100%;
	height: 30px;
	margin-top: 7px;
}

#nav h2{
	width: 190px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #f50;
	text-align: center;
}
#nav ul{
	width: calc(100%-190px);
	color: #3c3c3c;
}
#nav ul li{
	float: left;
	line-height: 30px;
	margin: 0 7px;
	font-size: 14px;
}
#nav ul li.size{
	font-size: 16px;
}
#nav ul .tianmao a{
	color: #ff0036;
	font-weight: bold;
}
#nav ul .juhuasuan a{
	color: #ff0036;
	font-weight: bold;
}
#nav ul .tianmaochaoshi a{
	color: #33c900;
	font-weight: bold;
}

#firstScreen .firstLeft{
	width: 900px;
	height: 510px;
}

/* 首屏内容-左侧*/
.firstLeft .sideNav{
	width: 190px;
	height: 510px;
} 
.firstLeft .sideNav a{
	color: #666;
}
.firstLeft .img1Box .imgBoxL{
	width: 520px;
	height: 280px;
	border-right: 10px;
}

.firstLeft .img1Box .imgBoxL img{
	border-radius: 12px;
}
.firstLeft .img1Box .imgBoxR img{
	border-radius: 12px;
	/* border-left: 20px; */
}
.firstLeft .middlel{
	width: 520px;
	height: 24px;
}
.firstLeft .middler{
	width: 160px;
	height: 24px;
}
.firstLeft .middlel img{
	width: 74px;
	height: 22px;
	float:left;
	margin-right: 5px;
}
.firstLeft .middlel .lixiang{
	float: left;
}
.firstLeft .middlel p{
	float: right;
}
.firstLeft .img2{
	width: 520px;
	height: 201px;
	float: left;
}
.firstLeft .img2 a img{
	width: 251px;
	height: 190px;
	border-radius: 12px;
}
.firstLeft .imgr a img{
	width: 160px;
	height: 200px;
	border-radius: 12px;
}


/* 首屏内容-右边 */
#firstScreen .firstRight{
	width: 290px;
	height: 510px;
}
#firstScreen .firstRight .member{
	width: 290px;
	height: 137px;
	text-align: center;
}
#firstScreen .firstRight .member-tbj{
	width: 290px;
	height: 17px;
}
#firstScreen .firstRight .member-tbj a{
	color: #ff5000;
}
#firstScreen .firstRight .member-ft{
	width: 290px;
	height: 40px;
}
#firstScreen .firstRight .member-ft a{
	display: inline-block;
	background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    background-repeat: repeat-x;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	border-radius: 4px;
}
#firstScreen .firstRight .member-ft .btn-tblogin{
	width: 92px;
	height: 25px;
}
#firstScreen .firstRight .member-ft .btn-tbsigup{
	width: 75px;
	height: 25px;
}
#firstScreen .firstRight .member-ft .btn-store{
	width: 75px;
	height: 25px;
}
#firstScreen .firstRight .tbguangguang{
	width: 290px;
	height: 65px;
}
#firstScreen .firstRight .notice-bd{
	width: 290px;
	height: 37px;
}
#firstScreen .firstRight .notice-bd a h1{
	font-size: 12px;
	color: #ff5000;
}
/* 图标区域 */
.firstRight .icon{
	width: 100%;
	height: 144px;
	table-layout: fixed;
}
.firstRight .icon td{
	border: 1px solid #f4f4f4;
	text-align: center;
}
.firstRight .icon td span{
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto;
	background: url(../images/icon.png) no-repeat;
	background-size: 24px 597px;
}
.firstRight .icon td i{
	line-height: 34px;
	color: #333;
}
.firstRight .icon .item1 span{
	background-position: 0 0;
}
.firstRight .icon .item2 span{
	background-position: 0 -88px;
}
.firstRight .icon .item3 span{
	background-position: 0 -44px;
}
.firstRight .icon .item4 span{
	background-position: 0 -132px;
}
.firstRight .icon .item5 span{
	background-position: 0 -176px;
}
.firstRight .icon .item6 span{
	background-position: 0 -220px;
}
.firstRight .icon .item7 span{
	background-position: 0 -264px;
}
.firstRight .icon .item8 span{
	background-position: 0 -308px;
}
.firstRight .app ul li img{
	width: 32px;
	height: 32px;
}

/* 有好货 */
.goods .head h3{
	font-size: 24px;
	font-weight: bold;
}
.goods .head ul img{
	width: 215px;
	height: 215px;
	border-radius: 10px;
}
.goods .head .mask{
	width: 215px;
	height: 215px;

}
.goods .head .info{
	width: 215px;
	height: 49px;
	overflow: hidden;
	/* padding: 0 4px 0 6px; */
}
.goods .head ul li h4{
	font-size: 16px;
	margin-top: 10px;
	line-height: 16px;
	color: #333333;
}
.goods .head ul li p{
	font-size: 14px;
	margin-top: 8px;
	line-height: 15px;
	color: #999;
	width: 182px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.goods .ad ul{
	margin-top: 10px;
}
.goods .ad ul li img{
	border-radius: 16px;
}

/* 猜你喜欢 */
.prefer h3{
	font-size: 24px;
	font-weight: bold;
	display: block;
}

.prefer .list .img-wrapper img{
	display: block;
	border-radius: 12px;
	background: #fff;
}
.prefer .list .item{
	width: 215px;
	height: 319px;
}
.prefer .list .item h4{
	margin-top: 9px;
	line-height: 22px;
	height: 44px;
	font-size: 16px;
	font-weight: normal;
	overflow: hidden;
}
.prefer .list .item img{
	border-radius: 12px;
}
.prefer .list .item .price{
	color: #f40;
	font-size: 20px;
	height: 22px;
	line-height: 22px;
}
.prefer .list .item .price em{
	display: inline-block;
	font-style: normal;
	font-size: 12px;
}

.hotsale{
	width: 100%;
	height: 50px;
	text-align: center;
}
.hotsale .hotsale-end{
	margin: 0 auto;
	color: #ccccd0;
	font-size: 18px;
	line-height: 20px;
	font-style: normal;
	/* left: 50%; */
	width: 84px;
	display: inline-block;
	margin-top: 20px;
}
/* 主页面底部 */
.helper .helper-item{
	width: 290px;
	height: 95px;
	padding: 0 25px;
	display: inline-block;
	box-sizing: border-box;
}
.helper .helper-item .customer{
	font-size: 25px;
	color: #999999;
}
.helper .helper-item .text{
	font-size: 16px;
	color: #3c3c3c;
}
.helper .helper-item ul li a{
	color: #999;
	font-size: 12px;
}

/* footer */
.tbfooter{
	margin-top: 25px;
	background-color: #fff;
}
.tbfooter p{
	margin: 0 auto;
	margin-bottom: 8px;
	width: 1190px;
	line-height: 27px;
	padding-bottom: 8px;
}
.tbfooter .foot-hd{
	border-bottom: 1px solid #ddd;
}
.tbfooter a{
	font-size: 12px;
	color: #6c6c6c;
}
.tbfooter b{
	font-size: 12px;
	color: #ddd;
}
.tbfooter em{
	font-size: 12px;
	color: #9c9c9c;
}


.tb-footer-ft .beian{
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	background-image: url(http://img.alicdn.com/tps/i1/T1FeW3XXNfXXXXXXXX-36-36.gif);
}
